@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewBag.cssLink" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img class="logo-img-1" src="\images\Fig56._Patient_site_1.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-end w-100">
                    <li> <p class="mt-1 me-3">welcome <strong>@accessor.HttpContext.Session.GetString("userName")</strong></p></li>@* @ViewData["NavName"] *@
                    <li class="nav-item">

                        <a asp-controller="Home" asp-action="Logout">
                            <button class="btn logout-btn me-3">
                                Logout
                            </button>
                        </a>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <button id="darkmode-btn" onclick="myFunction()">
                            <img class="darkmode-img text-info" src="\images\moon.svg" alt="">
                        </button>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()

    <div id="footer">
        <div class="h-25">
        </div>
        <div class="">
            <a href="" class="text-decoration-none " id="terms1"> Terms of Conditions </a>
            <span class="vr mx-3" id="vr1"></span>
            <a href="" class="text-decoration-none" id="terms2">Privacy Policy</a>

        </div>
    </div>

    <script src="@ViewBag.jsLink" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
